<header>
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Book Seat</a></li>
            <li><a href="#">Search Trains</a></li>
            <li><a href="#">Fair Enquiry</a></li>
            
        </ul>
    </nav>
  </header>
  
  <div class="container">
    <label for="source"><b>From</b></label>
    <input type="text" placeholder="Enter Source Station" name="station" id="station1" required>
   
    <!-- <span style='font-size:60px;' class="right">&#8645;</span> -->
    <label for="destination"><b>To</b></label>
    <input type="text" placeholder="Enter Destination Station" name="Destination"  id="destination1" required> 
  
    <!-- <label for="date"><b>Select Date</b></label>
    <input type="date" placeholder="" name="Date"  id="date1" required> -->
  
     
  
    <button type="search" class="searchbtn">Search</button>
    
  
  </div>
  
  